
#main{
	margin-top: 3.15%;
}

/*TextArea*/

#doc_text{
	width: 50%;
	margin:auto;
	padding: 10px;
	font-family: Courier;
/*	min-height: 600px;*/
	border-radius: 10px; 
	border-color: #ececec;
	height: 750px;
	overflow: auto;


}

#doc_text:focus{
	border-radius: 10px;
	border:none;
	outline-color: rgba(124, 195, 101, 0.5);
}

#doc_content{
	display: flex;
}

/*Bouton Create*/

#getJSON{
	background-color: #4CAF50; /* Green */
	border:none;
	margin-left: auto;
	margin-right: 350px;
}

#create_content{
	display: flex;
	margin-bottom: 10px;
	margin-left: 10px;
}

/* Bouton de retour */

.return.btn.btn-primary{
  margin-left: 2%;
}

 a {
  text-decoration: none !important;

}


#DivContentTable{
	padding-bottom: 60px;
}

/* Switch */

	/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

  /* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

  /* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#switch{
  width: 86px;
  margin-left: 20%;
  margin-top: 30px;
  position: absolute;
}

#switch_json{
  color : #3F3B3B;
  font-size: 12px;
  margin-bottom: -5px;
}

.return.btn.btn-primary{
  margin-left: 2%;
}


/* JSONEditor */

#json{
	align-items: center;
}

#jsoneditor{
	margin: auto;
}

 a {
  text-decoration: none !important;

}
