h1.title{
	color : #3F3B3B;
	font-size: 48px; 
	font-family: 'Rubik-Light', sans-serif; 
	padding-bottom: 10px;
	padding-left: 0;
}

.error_content{
	background-color: #f5f5f5;
	width: 50%;
	margin: auto;
	padding-top: 20px;
	border-radius: 5px;
}

p{
	width: 282px;
	margin-left: auto;
	margin-right: auto;
	color:#3F3B3B;
}


.return.btn.btn-primary{w;
	margin-left: 10px;
}