
/*Barre de boutons*/

#options{
	padding-left: 2%;
}

/*.btn.new_doc{
	background-color: #4CAF50;
}*/

/*Conteneur du tableau*/

#main{
	margin:auto;
}

/*Bouton de retour*/
/*
.btn.btn-primary.getCollection{
	margin-left: 2%;
}*/

/*Recherche*/

#searchIdS{
	display: block;
}

#commandS{
	display: none;
}

 a {
  text-decoration: none !important;
}

td#json{
	color:#6c757d;
	font-family: courier;
	font-size:14px;
}