
/*Barre de boutons*/

#options{
	padding-left: 2%;
}

#row{
	align-content: center;
}


/*Recherche*/

#recherche_g:focus{
	border-radius: 5px;
	border-color: #ececec;
	outline:none;
}

#command {
  display: none;
}

#searchId {
  display: block;
}

/*Conteneur du tableau*/

#main{
	margin:auto;
}

/*Bouton de retour*/

.btn.btn-primary.getCollection{
	margin-left: 2%;
}



 a {
  text-decoration: none !important;
}


pre#doc_text{
	background-color: #ececec;
	color : #3F3B3B;
	width: 50%;
	margin:auto;
	padding: 10px;
	min-height: 600px;
	border-radius: 10px;
	margin-top: 20px;

}
