
/*Barre de boutons*/

#options{
	padding-left: 2%;
}

.btn.new_doc{
	background-color: #4CAF50;
}

/*Conteneur du tableau*/

#main{
	margin:auto;
}

/*Bouton de retour*/

.btn.btn-primary.getCollection{
	margin-left: 2%;
}

/*Recherche*/

#searchIdS{
	display: none;
}

#commandS{
	display: none;
}

 a {
  text-decoration: none !important;
}