
/*Barre de boutons*/

#options{
	padding-left: 2%;
}

.btn.new_doc{
	background-color: #4CAF50;
}

#row{
	align-content: center;
}


/*Recherche*/

#recherche_g:focus{
	border-radius: 5px;
	border-color: #ececec;
	outline:none;
}

#command {
  display: none;
}

#searchId {
  display: none;
}

/*Conteneur du tableau*/

#main{
	margin:auto;
}

/*Bouton de retour*/

.btn.btn-primary.getCollection{
	margin-left: 2%;
}
<<<<<<< Updated upstream
=======


 a {
  text-decoration: none !important;
}
>>>>>>> Stashed changes
