body{
	color : #3F3B3B;
}

/*Recherche*/

#recherche{
	padding-left: 3%;
	width: 100%;
}

#recherche_db:focus{
	border-radius: 5px;
	border-color: #ececec;
	outline:none;
}

 a {
  text-decoration: none !important;
}

#newColl{
	display: none;
}

#searchInAllColl{
	display: none;
}

.getDbDiv{
	max-height: 350pt;
	overflow: auto;
}