

/*Liste des serveurs*/

i.fa.fa-fw.fa-remove{
	float: right;
	margin-top: 2.7px;
	color : white;
}

i.fa.fa-fw.fa-remove:hover{
	color:#3F3B3B;
}
<<<<<<< HEAD

=======
>>>>>>> 2ce9c1db80bbd32988f86f74ce6be143bfe5e255
