
table#dependencies{
	background-color: #ececec;
	width: 50%;
}

td{
	padding: 2%;
}

.modal-content{
	padding-left: 2%;
}

pre{
	background-color: #ececec;
	width: 50%
	padding:2%;
}

#pre_content{
	background-color: #ececec;
	padding: 0.5%;
}