
@font-face {
  font-family: 'Rubik-Light';
  src: url(../font/rubik/Rubik-Light.ttf);

}

/*Titre*/

h1.title{
	color : #3F3B3B;
	font-size: 48px; 
	font-family: 'Rubik-Light', sans-serif; 
	padding-bottom: 10px;
	padding-left: 2%;
}

/*Sous-titre*/

h2.subtitle{
	color : #3F3B3B;
	font-size: 30px; 
	font-family: 'Rubik-Light', sans-serif; 
	padding-bottom: 10px;
	padding-left: 2%;
}

 a {
  text-decoration: none !important;
}

