
/*Texte*/

pre#doc_text{
	background-color: #ececec;
	color : #3F3B3B;
	width: 50%;
	margin:auto;
	padding: 10px;
	min-height: 600px;
	border-radius: 10px;
	margin-top: 20px;

}

/*Bouton Edit*/

.btn.btn-primary{
	background-color: #4CAF50;
	border:none;
	margin-left: 0%;
}

#content{
	display: flex;
	margin-bottom: 10px;
	margin-top: 10px;
	/*padding-left: 50px;*/
	width: 5%;
	margin-left: 70%;
}

.btn.btn-primary.view{
	background-color: transparent;
	margin-left: 0px;
}

.btn_view{
	/*width: 10%;*/
	/*float: left;*/
	margin-left: 3%;
	text-align: center;
}

#nav_view{
}