
/*Texte*/

pre#doc_text{
	background-color: #ececec;
	color : #3F3B3B;
	width: 50%;
	margin:auto;
	padding: 10px;
	min-height: 600px;
	border-radius: 10px;

}

/*Bouton Edit*/

.btn.btn-primary{
	background-color: #4CAF50;
	border:none;
	margin-left: 2650%;
}

#content{
	display: flex;
	margin-bottom: 10px;
	margin-top: 10px;
	/*padding-left: 50px;*/
}

